<table>
  <thead>
    <tr>
      <th>Course name</th>
      <th><%= sort_link @q, :min_date, 'Closest start date' %></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td>
          <%= group.course.name %>
        </td>
        <td>
          <%= group.min_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @groups %>
