<% if group.students.size.positive? %>
  <h2>
    <%= group.decorate.name %>
  </h2>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <% group.students.each.with_index do |student, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= replace_with_stars(student.email) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
